name: pkgcheck

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup master repositories
      run: |
        ./scripts/setup-master-gentoo.sh
    - name: Run pkgcheck
      uses: docker://ghcr.io/pkgcore/pkgcheck:latest
      with:
        entrypoint: /usr/bin/bash
        args: >
          -c "
          runner() { echo \"::group::${1}\"; shift 1; \"$@\"; local exit=$?; echo; echo \"::endgroup::\"; return $exit; } ;
          runner \"Preping repo dir\" mkdir -p ~/.cache/pkgcheck/repos/ ~/.cache/pkgcore/repos/ || exit 1 ;
          runner \"Linking gentoo repo\" ln -s /var/db/repos/gentoo ~/.cache/pkgcore/repos/gentoo || exit 1 ;
          runner \"Linking guru repo\" ln -s /var/db/repos/guru ~/.cache/pkgcore/repos/guru || exit 1 ;
          runner \"Update repo metadata\" pmaint regen --dir ~/.cache/pkgcheck/repos . ;
          runner \"Marking workspace safe for git\" git config --global --add safe.directory '*' ;
          runner \"Run pkgcheck\" pkgcheck --color y ci --failures ~/failures.json --exit GentooCI ${{ inputs.args }} ;
          scan_exit_status=$? ;
          pkgcheck replay --color y ~/failures.json ;
          exit $scan_exit_status
          "
