name: pkgcheck

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run pkgcheck
      uses: docker://ghcr.io/pkgcore/pkgcheck:latest
      with:
        entrypoint: /usr/bin/bash
        args: >
          -c "
          runner() { echo \"::group::${1}\"; shift 1; \"$@\"; local exit=$?; echo; echo \"::endgroup::\"; return $exit; } ;
          runner \"Sync gentoo repo\" pmaint sync gentoo || exit 1 ;
          runner \"Preping portage config dir\" mkdir -p /etc/portage || exit 1 ;
          runner \"Enabling guru repo\" echo "[guru]\nlocation = /var/db/repos/guru\nsync-type = git\nsync-uri = https://github.com/gentoo-mirror/guru.git\nsync-depth = 1\n" > /etc/portage/repos.conf ;
          runner \"Sync guru repo\" pmaint sync guru || exit 1 ;
          runner \"Update repo metadata\" pmaint regen --dir ~/.cache/pkgcheck/repos . ;
          runner \"Marking workspace safe for git\" git config --global --add safe.directory '*' ;
          runner \"Run pkgcheck\" pkgcheck --color y ci --failures ~/failures.json --exit GentooCI ${{ inputs.args }} ;
          scan_exit_status=$? ;
          pkgcheck replay --color y ~/failures.json ;
          exit $scan_exit_status
          "
